<ion-view view-title="Favorites" class="favorites-page">
	<ion-content>
		<ion-list>
			<ion-item class="item-avatar">
				<img src="/img/ionic.png">
				<h2>I keep it relative yo</h2>
				<p>James Tamplin</p>
			</ion-item>
			<ion-item class="item-avatar">
				<img src="/img/ionic.png">
				<h2>99 compiler error</h2>
				<p>Jake Hanford</p>
			</ion-item>
			<ion-item class="item-avatar">
				<img src="/img/ionic.png">
				<h2>So many stack overflowin</h2>
				<p>Brain Gallagher</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>